.navBar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(25, 6, 44, 0.251); 
    position: sticky;
    top: 0px;
    padding: 15px;
    z-index: 100000;
    
}

.button {
    margin: 5px;
    padding: 3px;

}

.logo {
    max-width: 40px; /* set maximum width to 100% of its container */
    height: auto; /* maintain aspect ratio */
    position: absolute;
    top: -10px; 
    left: 10px; 
}